<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yavuz.takdirtesekkur">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Takdirtesekkur">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4812352403081392~8847565957"/>
        <activity android:name=".empty"></activity>
        <activity android:name=".sonuc" />
        <activity android:name=".lise" />
        <activity android:name=".sekiz" />
        <activity android:name=".yedi" />
        <activity android:name=".alti" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>